<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <section class="login">
        <article class="caform-container">

            <h1 class="catitle">My Account</h1>

            <form action="" class="caform">

                <div>
                    <label for="name" class="label">Name</label>
                    <input type="text" id="name" placeholder="Name" class="input cainput-name">

                    <label for="email" class="label">Email</label>
                    <input type="email" id="email" placeholder="email@example.com" class="input cainput-email">

                    <label for="password" class="label">Password</label>
                    <input type="password" id="password" placeholder="*********" class="input cainput-password">

                </div>

               

                <button class="primary-button login-button">Create</button>

            </form>
        </article>
    </section>


    <script src="/js/index.js"></script>
    
</body>
</html>