<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <section class="login">
        <article class="caform-container">

            <h1 class="catitle">My Account</h1>

            <form action="" class="caform">

                <div>
                    <label for="name" class="label">Name</label>
                    <p class="value">Camila Yokoo</p>

                    <label for="email" class="label">Email</label>
                    <p class="value">camilayokoo@gmail.com</p>

                    <label for="password" class="label">Password</label>
                    <p class="value">****************</p>
                </div>

                <button class="secondary-button signup-button">Edit</button>

            </form>
        </article>
    </section>


    <script src="/js/index.js"></script>
    
</body>
</html>