<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>

        <section class="email-sent">
            <article class="email-sent__container">
                <img src="/img/logos/logo_yard_sale.svg" alt="logo" class="logo">

                <h1 class="title">Email has been sent!</h1>
                <p class="subtitle">Please check your inbox for instructions on how to reset the password</p>
                
                <figure class="email-image">
                    <img src="/img/icons/email.svg" alt="email">
                </figure>

                <button class="primary-button">Login</button>

                <p class="resend"><span>Didn't receive the email? </span><a href="/">Resend</a></p>

            </article>
        </section>
    </body>

</html>