<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <section class="main-container">
        <article class="cards-container">
            <div class="product-card">
                <img src="https://images.unsplash.com/photo-1594632019379-421c5c70bf54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$150,00</p>
                        <p>Summer clothing set</p>
                    </div>

                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.unsplash.com/photo-1604176354204-9268737828e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$95,00</p>
                        <p>5 pack jeans set</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
                

            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$79,00</p>
                        <p>White tennis</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
               

            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/5693888/pexels-photo-5693888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$60,00</p>
                        <p>summerset for men</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
                

            </div>

            <div class="product-card">
                <img src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$20,00</p>
                        <p>White t-shirt</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
               

            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/5956739/pexels-photo-5956739.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$15,00</p>
                        <p>3 pack of masks</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/788946/pexels-photo-788946.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$349,00</p>
                        <p>iPhone Xs with airpods</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/6628648/pexels-photo-6628648.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$40,00</p>
                        <p>Massage machine</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/9944852/pexels-photo-9944852.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$15,00</p>
                        <p>Alarm clock</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/51383/photo-camera-subject-photographer-51383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$400,00</p>
                        <p>Professional camera</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/577769/pexels-photo-577769.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$80,00</p>
                        <p>Beats solo Pro</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1298601/pexels-photo-1298601.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$30,00</p>
                        <p>Xbox 360 controller</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/6633449/pexels-photo-6633449.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$250,00</p>
                        <p>Table with 4 chairs</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/8478912/pexels-photo-8478912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$75,00</p>
                        <p>Old table for coffee</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/4352247/pexels-photo-4352247.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$350,00</p>
                        <p>5-seat sofa with cushions</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/6636293/pexels-photo-6636293.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Desk with chair</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1457845/pexels-photo-1457845.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$500,00</p>
                        <p>King bed</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/7034294/pexels-photo-7034294.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$75,00</p>
                        <p>bookshelf</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/3661197/pexels-photo-3661197.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$7,00</p>
                        <p>Toys kids</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/264917/pexels-photo-264917.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$15,00</p>
                        <p>Teddy bear</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/63637/crocodile-sitting-alligator-animal-63637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$10,00</p>
                        <p>Stuffed dinosaur</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/3663069/pexels-photo-3663069.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$7,00</p>
                        <p>Wooden whale</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/6743164/pexels-photo-6743164.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$20,00</p>
                        <p>Musical toy</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/6692941/pexels-photo-6692941.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$13,00</p>
                        <p>Wooden abacus</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1035733/pexels-photo-1035733.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$170,00</p>
                        <p>Ray ban sunglasses</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/5894435/pexels-photo-5894435.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$80,00</p>
                        <p>Adidas Telstar</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            
            <div class="product-card">
                <img src="https://images.pexels.com/photos/545008/pexels-photo-545008.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$290,00</p>
                        <p>Fixie bike</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            
            <div class="product-card">
                <img src="https://images.pexels.com/photos/2949992/pexels-photo-2949992.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$35,00</p>
                        <p>Welcome mat</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            
            <div class="product-card">
                <img src="https://images.pexels.com/photos/6041294/pexels-photo-6041294.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$170,00</p>
                        <p>Antique clock</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/9130515/pexels-photo-9130515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$250,00</p>
                        <p>Apple watch</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

    </section>

    <div><p></p></div>

</body>
</html>