<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <section class="main-container">
        <article class="cards-container">
            <div class="product-card">
                <img src="https://images.unsplash.com/photo-1594632019379-421c5c70bf54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Bike</p>
                    </div>

                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.unsplash.com/photo-1604176354204-9268737828e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Bike</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
                

            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$79,00</p>
                        <p>White tennis</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
               

            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/5693888/pexels-photo-5693888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Bike</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
                

            </div>

            <div class="product-card">
                <img src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Bike</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
               

            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/5956739/pexels-photo-5956739.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Bike</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
               

            </div>

            <div class="product-card">
                <img src="https://images.unsplash.com/photo-1623120389902-6c846c80f4c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Bike</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
               

            </div>

            <div class="product-card">
                <img src="https://images.unsplash.com/photo-1599030337145-5bec28bee393?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Bike</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
                

            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/6342786/pexels-photo-6342786.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Bike</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

          
            <div class="product-card">
                <img src="https://images.pexels.com/photos/1100790/pexels-photo-1100790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Bike</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/9775733/pexels-photo-9775733.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Bike</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/4210866/pexels-photo-4210866.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Bike</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1642228/pexels-photo-1642228.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Bike</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1030946/pexels-photo-1030946.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Bike</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1639729/pexels-photo-1639729.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""class="product-img">
                <div class="product-info">
                    <div>
                        <p>$120,00</p>
                        <p>Bike</p>
                    </div>
                    <figure>
                        <img src="/img/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>
        </article>

    </section>


</body>
</html>