<!DOCTYPE html>
    <html lang="en">
        <%- include('../partials/head') %>
<body>
    
        <section class="my-orders">
            <article class="my-orders__container">
                <h1 class="my-orders__title">My Orders</h1>
                <div class="my-orders--content">
                    <div class="my-orders--order">
                        <p>
                            <span>15/02/2022</span>
                            <span>6 articles</span>
                        </p>
                        <p>$560.00</p>
                        <img src="/img/icons/flechita.svg" alt="">
                    </div>

                    <div class="my-orders--order">
                        <p>
                            <span>7/01/2022</span>
                            <span>9 articles</span>
                        </p>
                        <p>$820.00</p>
                        <img src="/img/icons/flechita.svg" alt="">
                    </div>

                    <div class="my-orders--order">
                        <p>
                            <span>15/08/2021</span>
                            <span>3 articles</span>
                        </p>
                        <p>$370.00</p>
                        <img src="/img/icons/flechita.svg" alt="">
                    </div>

                    <div class="my-orders--order">
                        <p>
                            <span>10/06/2021</span>
                            <span>4 articles</span>
                        </p>
                        <p>$160.00</p>
                        <img src="/img/icons/flechita.svg" alt="">
                    </div>
                </div>
    
            </article>
    
           
        </section>
</body>
</html>