<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>

    <section class="my-order">
        <article class="my-order__container">
            <h1 class="my-order__title">My Order</h1>
            <div class="my-order--content">
                <div class="my-order--order">
                    <p>
                        <span>15/02/2022</span>
                        <span>6 articles</span>
                    </p>
                    <p>$560.00</p>
                </div>
            </div>

            <article class="my-order__shopping-cart">
                <figure>
                    <img src="https://images.unsplash.com/photo-1594632019379-421c5c70bf54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80" alt="">
                </figure>
                <p>Bike</p>
                <p>$30,00</p>
            </article>

            <article class="my-order__shopping-cart">
                <figure>
                    <img src="https://images.unsplash.com/photo-1604176354204-9268737828e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="">
                </figure>
                <p>Bike</p>
                <p>$30,00</p>
            </article>

            <article class="my-order__shopping-cart">
                <figure>
                    <img src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                </figure>
                <p>Bike</p>
                <p>$30,00</p>
            </article>
        </article>

       
    </section>

</body>
</html>