<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <aside class="product-detail">
        <div class="product-detail--close">
            <img src="/img/icons/icon_close.png" alt="close">
        </div>
        
        <img src="https://images.pexels.com/photos/1464625/pexels-photo-1464625.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="tennis">
        <div class="product-detail--info">
            <p>$79,00</p>
            <p>White tennis</p>
            <p> Design for Easy-Life:Akk Womens Walking Tennis Shoes design for maximum comfort, perfect for walking, hiking, bike riding, working, shopping, indoor, outdoor, casual, sports, travel, exercise, vacation, and etc.
                <br><br>Breathable Mesh Upper: Akk women workout shoes are made with one-piece knit upper, expand with your foot when you run and they more comfortable closely fit to help you reduce irritation.
                <br><br>Non-Slip & Lightweight: The MD sole is ultra lightweight and wear resistant, combined with bottom grain design to enhance the skid resistance of Akk Slip On Memory Foam Lightweight Casual Sneakers.
                <br><br>Durable Foam Insole: Memory Foam Insole has good elasticity. Further, moisture-wicking insoles help keep your feet cool and comfortable when moving.
                <br><br>Promise：At your service 24/7. Free-return / exchange or other better solutions for your 100% satisfaction</p>
            
                <button class="primary-button add-to-cart-button">
                    <img src="/img/icons/bt_add_to_cart.svg" alt="">Add to cart
                </button>

        </div>
            
    </aside>

</body>
</html>