<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <aside class="sc-product-detail">
        <div class="sc-title-container">
          <img src="/img/icons/flechita.svg" alt="arrow">
          <p class="sc-title">My order</p>
        </div>
    
        <div class="sc-my-order-content">
          <div class="sc-shopping-cart">
            <figure>
              <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="bike">
            </figure>
            <p>Bike</p>
            <p>$30,00</p>
            <img src="/img/icons/icon_close.png" alt="close">
          </div>
    
          <div class="sc-shopping-cart">
            <figure>
              <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="bike">
            </figure>
            <p>Bike</p>
            <p>$30,00</p>
            <img src="/img/icons/icon_close.png" alt="close">
          </div>
    
          <div class="sc-shopping-cart">
            <figure>
              <img src="https://images.pexels.com/photos/276517/pexels-photo-276517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="bike">
            </figure>
            <p>Bike</p>
            <p>$30,00</p>
            <img src="/img/icons/icon_close.png" alt="close">
          </div>
    
          <div class="sc-order">
            <p>
              <span>Total</span>
            </p>
            <p>$560.00</p>
          </div>
    
          <button class="sc-primary-button">
            Checkout
          </button>
        </div>
      </div>
      </aside>

</body>
</html>