    <nav>
        <img src="/img/icons/icon_menu.svg" alt="burger-menu" class="menu">

        <section class="navbar-left">
            <img src="/img/logos/logo_yard_sale.svg" alt="logo" class="navbar--logo">

            <ul>
                <li><a href="#">All</a></li>
                <li><a href="#">Clothes</a></li>
                <li><a href="#">Electronics</a></li>
                <li><a href="#">Furnitures</a></li>
                <li><a href="#">Toys</a></li>
                <li><a href="#">Others</a></li>
            </ul>
        </section>

        <section class="navbar-right">
            <ul>
                <li class="navbar-right--email"><a href="/editaccount">camilayokoo@gmail.com</a> </li>
                <li class="navbar--shopping-cart">
                    <a href="/order"><img src="/img/icons/icon_shopping_cart.svg" alt=""></a>
                    <div>2</div>
                </li>
            </ul>
        </section>
    </nav>